project-domainAnalysis/__pycache__/
kaggle_writting_quality/__pycache__/
/.venv/
advent_of_code_2022/__pycache__/
advent_of_code_2022/src/__pycache__/
project-household-finances/.env
project-household-finances/__pycache__/
project-household-finances/data/*
project-household-finances/credentials.json
project-household-finances/token.json
